<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="RetirementType" value="SR" />
		<add key="DateOfRetirement" value="10/16/2002" />
		<add key="Membership" value="General" />
		<add key="TIER" value="3" />
		<add key="Name" value="Hemant Kannan" />

		<add key="EEContrBasic" value="58106.4" />
		<add key="EEContrCol" value="6629.87" />
		<add key="MoneyPurchase" value="No" />
		
		<add key="MemberName" value="George Jefferson" />
		<add key="MemberDOB" value="07/27/1941" />

		<add key="BeneficiaryName" value="Deborah Jefferson" />
		<add key="BeneficiaryDOB" value="05/23/1949" />

		<add key="Relationship" value="Spouse" />

		<add key="ISY" value="29" />
		<add key="ISM" value="8" />
		<add key="ISD" value="16.4999" />

		<add key="SLIY" value="1" />
		<add key="SLIM" value="0" />
		<add key="SLID" value="11.4124" />

		<add key="NISY" value="0" />
		<add key="NISM" value="0" />
		<add key="NISD" value="0" />

		<add key="SLNIY" value="0" />
		<add key="SLNIM" value="0" />
		<add key="SLNID" value="0" />

		<add key="FinalComp" value="4803.45" />

		<add key="InterestRate" value="0.08" />
		<add key="COLA" value="0.02" />
		<add key="FeqToPay" value="0.5" />
		<add key="RoundOption1Fac" value="0.002739726" />
		<add key="ContinueOption4" value="0.5" />


		




	</appSettings>
  
  
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>