<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ERF31676.10" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="RetirementType" value="SR" />
		<add key="DateOfRetirement" value="10/16/2002" />
		<add key="Membership" value="General" />
		<add key="TIER" value="3" />
		<add key="Name" value="Hemant Kannan" />

		<add key="EEContrBasic" value="58106.4" />
		<add key="EEContrCol" value="6629.87" />
		<add key="MoneyPurchase" value="No" />
		
		<add key="MemberName" value="George Jefferson" />
		<add key="MemberDOB" value="07/27/1941" />

		<add key="BeneficiaryName" value="Deborah Jefferson" />
		<add key="BeneficiaryDOB" value="05/23/1949" />

		<add key="Relationship" value="Spouse" />

		<add key="ISY" value="29" />
		<add key="ISM" value="8" />
		<add key="ISD" value="16.4999" />

		<add key="SLIY" value="1" />
		<add key="SLIM" value="0" />
		<add key="SLID" value="11.4124" />

		<add key="NISY" value="0" />
		<add key="NISM" value="0" />
		<add key="NISD" value="0" />

		<add key="SLNIY" value="0" />
		<add key="SLNIM" value="0" />
		<add key="SLNID" value="0" />

		<add key="FinalComp" value="4803.45" />
		
	</appSettings>
  
  <ERF31676.10>
    <add key="45.00" value="0.5411" />
    <add key="45.25" value="0.5489" />
    <add key="45.50" value="0.5568" />
    <add key="45.75" value="0.5646" />
    <add key="46.00" value="0.5724" />
    <add key="46.25" value="0.5805" />
    <add key="46.50" value="0.5887" />
    <add key="46.75" value="0.5968" />
    <add key="47.00" value="0.6049" />
    <add key="47.25" value="0.6133" />
    <add key="47.50" value="0.6217" />
    <add key="47.75" value="0.6300" />
    <add key="48.00" value="0.6384" />
    <add key="48.25" value="0.6471" />
    <add key="48.50" value="0.6558" />
    <add key="48.75" value="0.6645" />
    <add key="49.00" value="0.6732" />
    <add key="49.25" value="0.6822" />
    <add key="49.50" value="0.6912" />
    <add key="49.75" value="0.7001" />
    <add key="50.00" value="0.7091" />
    <add key="50.25" value="0.7183" />
    <add key="50.50" value="0.7274" />
    <add key="50.75" value="0.7366" />
  </ERF31676.10>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>